/.ipynb_checkpoints
/annotations
/dataset_100.npy
/dataset_1000.npy
/dataset_50.npy
/dataset_500.npy
/dataset_5000.npy
/dataset_birds
/dataset_two_50.npy
/dataset_two_500.npy
/GANProject.7z
/gantutorial.ipynb
/generator_model_040.h5
/generator_model_055.h5
/images
/models
/plots
/plotsOn6000v1
/stageOneGan.ipynb
/test.ipynb
/train2014
/train_embedings.npz
/very_large_data
/__pycache__